[submodule "vendor/Configuru"]
	path = src/vendor/Configuru
	url = https://github.com/emilk/Configuru.git
[submodule "vendor/concurrentqueue"]
	path = src/vendor/concurrentqueue
	url = https://github.com/cameron314/concurrentqueue.git
[submodule "vendor/spdlog"]
	path = src/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
